.contacts__inner {

    max-width: 1120;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.contacts__info {

    display: flex;
    gap: 27px;
    flex-direction: column;
    max-width: 450px;
    width: 100%;
}

.contacts__link {

    font-size: 32px;
}

.contacts__text {

    max-width: 450px;
    font-size: 32px;
}

.contacts__text_img {

    display: inline-block;
}

.contacts__suptext{
    
    font-size: 18px;
}

@media(max-width: 710px){

    .contacts__inner{
        flex-direction: column;
        font-size: 20px;
        margin-bottom: 40px;
        align-items: center;
        text-align: center;
    }

    .contacts__text_img {
        display: block;
        transform: rotate(90deg);
        margin: 15px auto 25px;
    }

    .contacts__text {
        font-size: 20px;
    }

    .contacts__link{
        font-size: 20px;
    }

}